.vscode
*.dSYM
fs
*.o
createfs_macos
showfs_macos

thread_library/libcpu_macos.o
thread_library/.vscode
thread_library/app*
thread_library/cpu.o
thread_library/cv.o
thread_library/libthread.o
thread_library/mutex.o
thread_library/thread.o
thread_library/managed_uc.o
thread_library/*.dSYM/*
thread_library/core
thread_library/test-*

pager_library/pager
pager_library/vm_pager.o
pager_library/.vscode
pager_library/*.dSYM
pager_library/test*.[0-9]*
pager_library/!test*.[0-9]*.cpp
pager_library/!test*.[0-9]*.correct
pager_library/Page.o
pager_library/.DS_store
pager_library/*.out

remover.sh
